<%= turbo_frame_tag "form_frame" do %>
  <div class="success__wrapper" data-aos="flip-left" data-aos-delay="200">
    <h4 class="green">Deine Frage wurden erfolgreich gesendet.</h4>
    <p>Vielen Dank!<br/> Der Clown beantwortet deine Frage bald…</p>
    <h5>Schau einfach bald mal wieder vorbei!</h5>
  </div>
<% end %>
