<div class="container give-navi-space shadow-lg bo">
  <section class="row flex-lg-row-reverse align-items-center g-5 py-5 with-border-bottom">

    <div class="col-12 col-md-6 col-lg-6">
      <%= image_tag 'video-clown.webp', class: "d-block mx-lg-auto img-fluid", alt: "Video's mit dem Clown", title: "Video's mit dem Clown", width: "700",
                    height: "700", loading: "lazy" %>
    </div>

    <div class="col-12 col-md-6 col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Clownschule Confetti - Video's</h1>
      <h2>Informationen und Lustiges ❣️</h2>
      <h3>Video's mit dem Confetti Clown</h3>
      <p>Clowns sind in erster Linie dafür bekannt, <span class="mark">Menschen zum Lachen zu bringen.</span> Ihr Humor
        kann sich von
        slapstickartigen physischen Komödien bis hin zu subtilen Wortspielen und absurdem Verhalten erstrecken.</p>
      <p>Oft verwenden Clowns körperliche Bewegungen, Gesten und Mimik, um ihre Komödie zu vermitteln. Sie können
        übertriebene Bewegungen machen, stolpern, fallen oder andere Slapstick-Elemente einbauen, um das Publikum zu
        amüsieren.</p>
      <p>Unsere Clownschule Confetti Video' können lustige und herzerwärmende Erfahrung für dich sein. Es ist eine
        besondere Gelegenheit, Freude zu verbreiten und die Welt ein wenig bunter zu machen.</p>
      <p>Einen <span class="mark">kleinen Vorgeschmack</span> bekommst du in den Clownschule Confetti - Video's</p>
    </div>

  </section>


  <section class="row row-cols-1 row-cols-md-4 gx-5 pt-5 pb-3 ">

    <% @movies.each do |movie| %>
      <div class="col mb-4">
        <div class="card shadow border-2 h-100 text-center">

          <%= image_tag "konfetti-tuete-video.svg", alt: movie.title %>
          <div class="card-body">
            <h5 class="card-title"><%= movie.title %></h5>
          </div>
          <div class="card-footer">
            <%= link_to format_link(movie.link), movie, class: "card-footer btn btn-primary no-border" %>
          </div>
        </div>
      </div>
    <% end %>

  </section>

</div>



<% content_for :title do %>
Clownschule Confetti - Videos
<% end %>

<% content_for :meta do %>
Informationen und Lustiges ❣️ Confetti Clowns in Video's - Zahlreiche Videos der Clownschule Confetti
<% end %>

<% content_for :cano do %>
https://www.clownschule-confetti.de/videos-mit-dem-clown
<% end %>
