<footer id="footer" class="footer">

  <div class="container">

    <div class="row flex gy-3">

      <div class="col-lg-4 col-md-4 footer-links d-flex">
        <i class="bi bi-link icon"></i>
        <div>
          <h4>Links</h4>
          <p>
            <%= link_to 'Impressum', impressum_path %><br />
            <%= link_to 'Datenschutz', datenschutz_path %><br />
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 footer-links d-flex">
        <i class="bi bi-telephone icon"></i>
        <div>
          <h4>Erreichbar</h4>
          <p>
            <strong>Mobile:</strong> +49 173 9629753<br>
            <strong>Email:</strong> cardamonesandra@gmail.com<br>
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 footer-links">
        <h4>Folge mir auf SocialMedia</h4><br />
        <div class="social-links d-flex">
          <a href="https://youtube.com/@sandracardamone7605?si=YiEq1lVBkFUKfrOl" target="blank" class="youtube"><i class="bi bi-youtube"></i></a>
          <a href="https://www.facebook.com/groups/137852331506728/?ref=share" target="blank" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/cardamone.sandra?igsh=MWlqcGU5NXUxaW95bA==" target="blank" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="https://www.tiktok.com/@entdeckedenclownindir?_t=8jXxJzjIrcu&_r=1" target="blank" class="tiktok"><i class="bi bi-tiktok"></i></a>
        </div>
      </div>

    </div>

  </div>


</footer>
