<% if object.errors.any? %>
  <div class="fields_with_errors">
    <p><%= object.errors.count.to_s + ' Fehler ' + 'verhinderte'.pluralize(object.errors.count) %> das Absenden:</p>

    <ol class="field_with_errors">
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ol>
  </div>
<% end %>
