<% if object.errors.any? %>
  <div class="fields_with_errors">
    <h5><%= object.errors.count.to_s + ' Fehler ' + 'verhinderte'.pluralize(object.errors.count) %> das Absenden:</h5>

    <ol>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ol>
  </div>
<% end %>