<ul class="balloon">
  <li>🎈<span><%= link_to 'Entdecke den Clown in Dir!', root_path %></span></li>
  <li>🎈<span><%= link_to 'Die achtsame Kunst der Klinik-Clowns', achtsame_kunst_der_klinik_clowns_path %></span></li>
  <li>🎈<span><%= link_to 'Clown Coaching Lebenskünstler', clown_coaching_lebenskunst_path %></span></li>
  <li>🎈<span><%= link_to 'Clown Performance Feedback', regie_text_path %></span></li>
</ul>