<turbo-frame id="view_more">

  <%= render 'shared/subnavi' %>

  <hr/>
  <h1 class="h4 blue">Clown Coaching Lebensk체nstler</h1>
  <p>Das Coaching f체r <span class="mark">angehende Lebensk체nstler</span> ist als intensive Einzelarbeit konzipiert. Hier
    lernst Du Strategien, wie Du Deinen Alltag freudiger gestalten kannst. Du arbeitest an Deinem Mindset und kommst
    Deinen Glaubenss채tzen auf die
    Spur. </p>
  <h2 class="h5 green">Freudigere Ausrichtung im Leben</h2>
  <p>Ziel ist es, eine <span class="mark">freudigere Ausrichtung</span> im Leben zu finden und aus negativen
    Verhaltensmustern auszubrechen.
    Wir stellen Dir gute Fragen und horchen nach einer Antwort in Dir. Mein Anliegen ist es, Dir Wege aufzuzeigen, wie
    Du zu mehr Lebensfreude und Gelassenheit finden kannst. </p>

  <p><b>Rufe mich unverbindlich und kostenlos an.</b></p>
<% content_for :cano do %>
https://www.clownschule-confetti.de/clown-coaching-lebenskunst
<% end %>
</turbo-frame>
