<turbo-frame id="view_more">

  <%= render 'shared/subnavi' %>

  <hr/>
  <h1 class="h4 blue">Clown Performance Feedback</h1>
  <p>Du bist Clown/Schauspieler und möchtest, dass ein Profi <span class="mark">deine Performance</span> mit Dir ausbreitet, oder Dir ein Feedback
    zu einer bestehenden Nummer gibt? Ich biete Dir eine Einschätzung und gebe Dir Tipps zum clownesken Wirken Deiner
    Scene.</p>
  <h2 class="h5 green">Fragen an mich</h2>
  <p>Du kannst mit <span class="mark">allen Fragen auf mich zukommen,</span> z. B. passt das Kostüm zu meiner Clown-Figur? Welche Schminke ist
    angemessen? Wo kann ich auftreten? Welches Publikum kann ich ansprechen? Welche Gage ist passend? Bin ich als Clown
    stimmig? </p>

  <p><b>Rufe mich unverbindlich und kostenlos an.</b></p>

  <% content_for :cano do %>
https://www.clownschule-confetti.de/regie-text
  <% end %>

</turbo-frame>
