<turbo-frame id="view_more">

  <%= render 'shared/subnavi' %>

  <hr/>
  <h1 class="blue h4">Die achtsame Kunst eines Klinik Clowns.</h1>
  <p><span class="mark"><b>Klinikclowns</b>:</span> haben ein sehr feines Gefühl für Nähe und Distanz, was bei kranken Kindern
    und älteren Menschen besonders wichtig ist. Klinik-Clowns bieten einen herzlichen Kontakt an.
  </p>
  <h2 class="h5 green">Klinikclowns</h2>
  <p>…sind speziell ausgebildete Künstler, die in Krankenhäusern, Pflegeeinrichtungen und anderen
    medizinischen Einrichtungen arbeiten, um <span class="mark">Patienten, insbesondere Kinder</span>, sowie deren Familien zu unterstützen und
    aufzumuntern. Diese Clowns nutzen ihre clownesken Fähigkeiten, um eine positive Atmosphäre zu schaffen, die Heilung
    und Genesung fördern soll. Hier sind einige Merkmale und Aufgaben von Klinikclowns:</p>
  <h3 class="h5 green">Zauber des Augenblicks</h3>
  <p>Je nach Befindlichkeit der angespielten Person, Situation und Umfeld erfinden Clowns Lieder, Geschichten, Spiele, pusten
    einen Luftballon auf, holen lustige Requisiten hervor…
  </p>

  <p><b>Klinikclowns</b> verwenden Humor, Musik, Geschichten und Spiele, um Patienten und ihre Familien abzulenken und zu
    ermutigen. Sie bringen Freude und Lachen in ansonsten stressige und belastende Situationen.</p>

  <p>Die Arbeit ist durchdrungen von Feinfühligkeit, Respekt und
    Wertschätzung gegenüber dem Kind bzw. dem älteren Menschen.</p>
  <p><span class="mark">Clowns zeichnen sich durch:</span>
    Unbekümmertheit, Leichtigkeit und Herzlichkeit aus. In den Augen der Clowns ist jeder
    Mensch, jeder Stein, jede Blume und jede Wolke einzigartig, vollkommen und ein zu bestaunendes Wunder.</p>

  <%= link_to 'Ausbildungs-Kurs zum KlinikClown', klinikclown_kurs_path, target: "_top"%><br /><br />

<% content_for :cano do %>
https://www.clownschule-confetti.de/achtsame-kunst-der-klinik-clowns
<% end %>
</turbo-frame>