.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--bs-green);
  --bs-btn-border-color: var(--bs-green-border);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--bs-green-hover);
  --bs-btn-hover-border-color: var(--bs-green-hover);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--bs-green);
  --bs-btn-active-border-color: var(--bs-green);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

}

.no-border {
  --bs-btn-border-color: none !important;
  --bs-btn-hover-border-color:  none !important;
  border: none !important;
}

.custom-btn-size {
  font-size: 1.15rem;
}