section{
  background: #fbfbfb;
  &.with-border-bottom{
    border-bottom: 4px dotted var(--color-secondary);
  }
}

.give-navi-space {
  margin-top: 8rem;
}

@media (max-width: 575px) {
  .breadcrumbs {
    margin-top: 70px;
  }
}

@media (max-width: 992px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  font-size: 14px;
  background-color: var(--bs-deep-blue);
  padding: 50px 0;
  color: rgba(255, 255, 255, 0.7);
}

.footer .icon {
  margin-right: 15px;
  font-size: 24px;
  line-height: 0;
}

.footer h4 {
  font-size: 1.25rem;
  font-weight: 700;
  position: relative;
  padding-bottom: 5px;
  color: #fff;
}

.footer .footer-links {
  //margin-bottom: 30px;
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color: #fff;
  border-color: #fff;
}

.footer .copyright {
  text-align: center;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .credits {
  padding-top: 4px;
  text-align: center;
  font-size: 13px;
}

.footer .credits a {
  color: #fff;
}

/*--------------------------------------------------------------
# Video
--------------------------------------------------------------*/

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  margin-top: 4rem;
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*--------------------------------------------------------------
# Scroll
--------------------------------------------------------------*/

.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: var(--color-primary);
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.scroll-top:hover {
  background: #ec2727;
  color: #fff;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}


