@font-face {
  font-family: 'Karla';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('Karla-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Karla';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('Karla-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Karla';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('Karla-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Karla';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('Karla-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'MontserratAlternates';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('MontserratAlternates-SemiBold.ttf') format('truetype');
}

@font-face {
  font-display: block;
  font-family: "bootstrap-icons";
  src: url('bootstrap-icons.woff2') format('woff2');
  src: url('bootstrap-icons.woff') format('woff');
}


h1, h2 {
  font-family: 'MontserratAlternates'
}

h1 {
  color: var(--bs-green);
  font-weight: 600;
}

h2 {
  color: var(--bs-primary);
}

h3 {
  &.green {
    color: var(--bs-green);
  }

  &.blue {
    color: var(--bs-primary);
  }
}

h4 {
  font-weight: 600;

  &.green {
    color: var(--bs-green);
  }

  &.blue {
    color: var(--bs-primary);
  }
}

h5 {
  &.card-subtitle, &.red {
    color: var(--color-secondary);
    margin-bottom: .6rem;
  }
  &.green {
    color: var(--bs-green);
  }

  &.blue {
    color: var(--bs-primary);
  }
}

span.regenbogen {
  background-image: linear-gradient(to left, violet, indigo, blue, green, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none !important;
}


p {
  font-size: calc(var(--bs-body-font-size) * 1.1);
  font-weight: 300;
}

p b{
  font-weight: 600;
}

.blockquote-footer{padding-top: 1rem;}

.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bi-list-check::before {
  content: "\f473";
}

.bi-list-nested::before {
  content: "\f474";
}

.bi-list-ol::before {
  content: "\f475";
}

.bi-list-stars::before {
  content: "\f476";
}

.bi-list-task::before {
  content: "\f477";
}

.bi-list-ul::before {
  content: "\f478";
}

.bi-list::before {
  content: "\f479";
}

.bi-x-circle-fill::before {
  content: "\f622";
}

.bi-x-circle::before {
  content: "\f623";
}

.bi-x-diamond-fill::before {
  content: "\f624";
}

.bi-x-diamond::before {
  content: "\f625";
}

.bi-x-octagon-fill::before {
  content: "\f626";
}

.bi-x-octagon::before {
  content: "\f627";
}

.bi-x-square-fill::before {
  content: "\f628";
}

.bi-x-square::before {
  content: "\f629";
}

.bi-x::before {
  content: "\f62a";
}


.bi-play-btn-fill::before {
  content: "\f4f0";
}

.bi-play-btn::before {
  content: "\f4f1";
}

.bi-play-circle-fill::before {
  content: "\f4f2";
}

.bi-play-circle::before {
  content: "\f4f3";
}

.bi-play-fill::before {
  content: "\f4f4";
}

.bi-play::before {
  content: "\f4f5";
}

.bi-geo-alt-fill::before {
  content: "\f3e7";
}

.bi-geo-alt::before {
  content: "\f3e8";
}

.bi-geo-fill::before {
  content: "\f3e9";
}

.bi-geo::before {
  content: "\f3ea";
}

.bi-map-fill::before {
  content: "\f47e";
}

.bi-map::before {
  content: "\f47f";
}

.bi-telephone-fill::before {
  content: "\f5b4";
}

.bi-telephone-forward-fill::before {
  content: "\f5b5";
}

.bi-telephone-forward::before {
  content: "\f5b6";
}

.bi-telephone-inbound-fill::before {
  content: "\f5b7";
}

.bi-telephone-inbound::before {
  content: "\f5b8";
}

.bi-telephone-minus-fill::before {
  content: "\f5b9";
}

.bi-telephone-minus::before {
  content: "\f5ba";
}

.bi-telephone-outbound-fill::before {
  content: "\f5bb";
}

.bi-telephone-outbound::before {
  content: "\f5bc";
}

.bi-telephone-plus-fill::before {
  content: "\f5bd";
}

.bi-telephone-plus::before {
  content: "\f5be";
}

.bi-telephone-x-fill::before {
  content: "\f5bf";
}

.bi-telephone-x::before {
  content: "\f5c0";
}

.bi-telephone::before {
  content: "\f5c1";
}

.bi-youtube::before {
  content: "\f62b";
}

.bi-facebook::before {
  content: "\f344";
}

.bi-instagram::before {
  content: "\f437";
}

.bi-tiktok::before {
  content: "\f6cc";
}

.bi-link-45deg::before {
  content: "\f470";
}

.bi-link::before {
  content: "\f471";
}

.bi-arrow-repeat::before {
  content: "\f130";
}

