:root{

  scrollbar-color: transparent var(--bs-med-blue);
  scrollbar-color: var(--bs-med-blue) transparent !important;

  --bs-body-font-size: 1.18rem;
  --bs-body-font-weight: 300;
  --bs-body-line-height: 1.5;
  --bs-body-color: #253031;
  --bs-body-bg: #ffae00; //body Background

  --bs-card-bg: #fff9eb;


  --color-default: #212529;
  --color-primary: #FFAE01;
  --color-primary-pale: #fdd88a;
  --color-secondary: #D63230;


  --bs-primary: #2da3c0;
  --bs-secondary: #6c757d;

  --bs-med-blue: #298EE0;
  --bs-deep-blue: #1763A1;
  --bs-green: #7AC74F;
  --bs-green-border: #5fa431;
  --bs-green-hover: #70b743;


  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #4D5061;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f5f5f5;
  --bs-gray-200: #E0E0E0;
  --bs-gray-300: #c2c2c2;
  --bs-gray-400: #cccccc;
  --bs-gray-500: #b8b8b8;
  --bs-gray-600: #707070;
  --bs-gray-700: #5c5c5c;
}